/** main.css */
/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
}

/* Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* Add accessible line-height */
    line-height: 1.5;
    /* Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
    font-family: 'Inter', 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
    text-wrap: pretty;
    font-size: 0.875rem;
    line-height: 1.625;
    color: #273144;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

a {
    color: #101010;
    text-decoration: none;

    &:hover,
    &:focus,
    &:visited {
        color: #101010;
    }
}

body,
html {
    width: 100%;
    margin: 0;
    font-family: 'Inter', 'Open Sans', 'Helvetica Neue', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #eeeeee #ffffff;
}

input,
select,
textarea {
    font-size: 0.875rem;
    box-sizing: border-box;
    width: 100%;
    border: none;
    background: #f9f9f9;
    border-radius: 6px;
    padding: 0.75rem 0.5rem;
    outline: none;
}

select {
    padding: 0.25rem;
    border-radius: 4px;
    width: auto;
    border: 0;
    outline: 0;
    background-color: #ffffff;
}

textarea {
    resize: vertical;
}

.app {
    background-color: #ffffff;
    overflow: auto;
}

.screen {
    display: none;
}

.wrapper {
    padding: 1rem;
}

h1 {
    font-size: 1.125rem;
    font-weight: 600;
}

h2 {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;

    &:before {
        position: absolute;
        content: ' ';
        left: 0;
        bottom: 1px;
        width: 100%;
        height: 7px;
        background-color: rgba(119, 148, 182, 0.225);
        transform: skew(-0.75deg, -0.75deg);
    }
}

.center {
    text-align: center;
}

.block {
    display: block;
}

.semibold {
    font-weight: 600;
}

.content {
    margin: 1.25rem 0;

    & p {
        margin-bottom: 1rem;
    }
}

[data-content] {
    display: none;

    &:first-child {
        display: block;
    }
}

/* Header */
.header {
    width: 100%;
    position: fixed;
    display: none;
    align-items: center;
    padding: 0.25rem 0;
    z-index: 1;
    background-image: linear-gradient(45deg, #7794b6 0%, #dffaff 100%);

    & .logo {
        margin: 0;
        margin-left: 1rem;
        font-size: 1.125rem;
        font-weight: 600;
        letter-spacing: -0.75px;
        color: #ffffff;
    }

    & .username {
        margin-left: auto;
        color: #ffffff;
        font-size: 0.875rem;
        font-weight: 500;
    }

    & .profile {
        margin-right: 1rem;
        position: relative;

        & .profile-link {
            display: block;
            padding: 0.5rem 0 0.5rem 0.5rem;
            border-radius: 8px 8px 0 0;

            & img {
                background-color: #fff;
                max-width: 24px;
                border-radius: 100%;
            }
        }
    }
}

.profile-menu,
.page-selector {
    position: absolute;
    right: 0;
    top: 100%;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.02);
    border: 1px solid #f4f4f4;
    padding: 0;
    z-index: 11;
    transition: visibility 25ms ease-in;
    visibility: hidden;

    &.show {
        visibility: visible;
    }

    & li {
        list-style-type: none;
        display: block;
        font-size: 0.875rem;

        &:first-child {
            & a {
                border-radius: 8px 8px 0 0;
            }
        }

        &:last-child {
            & a {
                border-radius: 0 0 8px 8px;
            }
        }

        & a {
            text-decoration: none;
            display: block;
            padding: 0.25rem 1rem;

            &:hover {
                background: rgba(119, 148, 182, 0.0325);
            }
        }
    }
}

/* Secondary Header */
.secondary-header {
    display: none;
    background: rgba(119, 148, 182, 0.105);
    padding: 3.5rem 1rem 0.5rem;
    align-items: center;

    & .navigation {
        position: relative;
        font-weight: 600;

        & .current-page {
            display: block;
            border: none;
            padding: 0.25rem;
            font-size: 0.825rem;
            background: rgba(119, 148, 182, 0.0925);
            cursor: pointer;
            border-radius: 8px;

            &:hover {
                background-color: #ffffff;
            }
        }

        & .page-selector {
            left: -0.325rem;
            right: auto;
            top: -0.0625rem;
            padding: 0;

            & li {
                font-size: 0.825rem;

                & a {
                    padding: 0.25rem 0.5rem;

                    &.selected {
                        background-color: rgba(119, 148, 182, 0.0925);
                    }
                }
            }
        }
    }

    & .primary-section {
        display: none;

        & p {
            font-size: 0.8rem;
        }
    }

    & .dynamic-section {
        display: none;
        align-items: center;
        margin-left: auto;
        font-size: 0.8rem;

        & .tenure-switcher {
            position: relative;
            display: flex;
            align-items: center;
            margin-left: auto;

            & .switch {
                margin: 0 0.375rem;
            }

            & .month {
                font-weight: 500;
            }
        }

        & .state-switcher {
            background: #ffffff;
            display: flex;
            align-items: center;
            border-radius: 24px;

            & a {
                padding: 0.25rem 0.5rem;
                font-weight: 500;
                text-align: center;
                border-radius: 24px;

                &.selected {
                    background-color: #fd868c;
                    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
                    color: #ffffff;
                }
            }
        }

        & img {
            display: block;
            max-width: 20px;
        }
    }

    & .upgrade-cta {
        display: block;
        text-decoration: none;
        font-size: 0.750rem;
        padding: 0.25rem 0.5rem;
        background-color: #fd868c;
        background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
        border-radius: 4px;
        font-weight: 500;
        letter-spacing: -0.25px;
        color: #ffffff;
    }

    & .saver-pill {
        display: none;
        position: absolute;
        font-size: 0.750rem;
        background-color: #fd868c;
        background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
        color: #ffffff;
        padding: 0.125rem 0.25rem;
        border-radius: 0 0 2px 2px;
        font-weight: 500;
        right: -0.25rem;
        border-radius: 4px;
        top: 1.75rem;
    }
}

/* Dashboard */
#dashboard {
    & .engagements {
        background: rgba(119, 148, 182, 0.105);
        padding: 2rem 1rem 1rem;

        & .engagements-data {
            display: flex;
            justify-content: space-between;

            & div[data-stat] {
                position: relative;
                width: 68px;
                text-align: center;
                padding: 1.75rem 0 0;
                border-radius: 8px;

                & .number {
                    font-family: 'Inter', 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-weight: 900;
                    font-size: 1.75rem;
                    color: #273144;
                }

                & img {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 28px;
                }
            }
        }
    }

    & .insights {
        padding: 1rem;
        background-image: linear-gradient(180deg, rgba(119, 148, 182, 0.105) 43%, rgba(255, 255, 255, 0) 100%);

        & .insights-data {
            margin: 1rem 0 0 0;
            padding: 0;

            & div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.60rem 0;
                font-size: 0.825rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.04);

                &:last-child {
                    border-bottom: 0;
                }

                & span {
                    &:first-child {
                        min-width: 90px;
                        font-weight: 500;
                    }

                    &:last-child {
                        display: flex;
                        font-weight: 500;
                        width: 100%;
                        justify-content: right;

                        & img {
                            max-width: 20px;
                            border-radius: 4px;
                            margin-right: 0.25rem;
                        }
                    }
                }
            }
        }
    }

    & .landing-page-promo {
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.030);
        margin: 1rem 1rem 2rem;
        border: 1px solid rgba(0, 0, 0, 0.04);

        & .image-wrapper {
            margin-bottom: 1rem;
            text-align: center;
            background-color: #f3f9fe;
        }

        & h2 {
            color: #202020;
            margin: 0;

            &:before {
                background-color: rgba(244, 109, 154, 0.225);
            }
        }

        & p {
            margin: 1rem 0;
        }

        & .cta {
            margin-top: 1.25rem;
            padding-bottom: 0.5rem;
        }
    }
}

/* Links */
#links {
    & [data-content] {
        background-image: linear-gradient(180deg, rgba(119, 148, 182, 0.105) 43%, rgba(255, 255, 255, 0) 93%);

        & .wrapper {
            max-width: 480px;
            margin: 0 auto;
        }
    }

    & .quick-create {
        & .divider {
            font-size: 0.750rem;
            text-transform: uppercase;
            display: block;
            text-align: center;
            padding: 1.125rem 0 0;
            font-weight: 500;
            letter-spacing: 0.25px;
            color: #606060;
        }

        & #create-from-tab {
            padding: 0;
            margin: 0.75rem 0 1.25rem;
            font-weight: 600;

            & .reveal-url {
                position: relative;
                cursor: help;
                border-bottom: 2px dotted #303030;
            }
        }

        & .section-footer {
            padding: 0.5rem 1rem;
            margin: 0 -1rem;
            background: rgba(56, 182, 255, 0.105);
            display: flex;
            align-items: center;

            & .domains {
                display: flex;
                align-items: center;
            }

            & .switcher {
                margin-left: auto;
                margin-right: 0.5rem;
            }

            & .switcher,
            & .qr-settings {
                display: flex;
                align-items: center;

                & img {
                    max-width: 18px;
                }

                & a {
                    padding: 0.25rem;
                    border-radius: 8px;
                    margin-left: 0.125rem;

                    &.selected {
                        background: #ffffff;
                        font-weight: 500;
                    }

                    &:hover {
                        background: #ffffff;
                    }
                }
            }
        }
    }

    & .links {
        padding: 1.5rem 0;

        & .links-data {
            width: 100%;

            & .flex {
                position: relative;
                display: flex;
                align-items: center;

                & .core {
                    padding-right: 0.5rem;

                    & .link {
                        margin-top: 0;

                        & .slug {
                            font-size: 1rem;
                            font-weight: 600;
                            word-break: break-all;
                            line-height: 1.5;
                        }

                        & .domain {
                            position: absolute;
                            top: 0;
                            right: 0;
                            color: #909090;
                            background: #ffffff;
                            font-size: 0.683rem;
                            padding: 0.25rem 0.35rem;
                            border: 1px solid rgba(0, 0, 0, 0.125);
                            border-radius: 4px;
                            box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.01);
                        }
                    }

                    & .target {
                        word-break: break-all;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    & p {
                        font-size: 0.825rem;
                        color: #303030;
                        margin: 0.25rem 0;
                    }

                    & .created {
                        font-size: 0.750rem;
                        color: #606060;
                    }
                }

                & .actions {
                    position: absolute;
                    display: none;
                    align-items: center;
                    margin-left: auto;
                    padding-left: 1rem;
                    right: 0;
                    bottom: 0;
                    background: transparent;
                    z-index: 1;

                    & a {
                        position: relative;
                        padding: 0.25rem;
                        margin-right: 0.25rem;
                        border-radius: 8px;

                        &:hover {
                            background: rgba(0, 0, 0, 0.04);
                        }

                        & img {
                            max-width: 21px;
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                &:hover {
                    & .actions {
                        display: flex;
                    }
                }
            }
        }

        & .no-links-data {
            padding: 1.5rem 0;
            display: none;

            & h3 {
                font-weight: 500;
                font-size: 0.938rem;
                margin-bottom: 0.5rem;
            }
        }
    }

    .link-form {
        & .input {
            display: flex;
            padding: 0.5rem;
            align-items: center;
            border: 1px solid rgba(0, 0, 0, 0.08);
            border-radius: 8px;
        }

        & input {
            background-color: transparent;
        }

        & button {
            outline: none;
        }
    }
}

.link-output {
    display: flex;
    /* display: none; */
    align-items: center;
    font-size: 0.875rem;
    background-image: linear-gradient(to left, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    margin: 0 0 1rem;

    & a {
        font-size: 0.750rem;
        font-weight: 500;
        color: #ffffff;
        line-height: 1.425;
    }

    & .new-link {
        word-break: break-all;
    }

    & .copy {
        margin-left: auto;
    }

    & .qrcode {
        margin-left: 0.75rem;
    }
}

.inline-modal {
    margin: 0 -1rem;
    background: rgba(56, 182, 255, 0.105);

    & .link-mode {
        display: none;
        padding: 0.5rem 1rem;

        &.show {
            display: block;
        }
    }
}

/* Analytics */
#analytics {
    & .wrapper {
        max-width: 480px;
        margin: 0 auto;
    }

    & .analytics-data {
        & h2 {
            margin: 0 0 0.5rem;
        }

        & .chart,
        & .geolocation {
            padding-bottom: 2.25rem;
        }

        & .chart {
            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    & .no-analytics-data {
        display: none;

        & a {
            text-decoration: underline;
        }
    }
}

/* Settings */
#settings {
    & h1 {
        margin-bottom: 1rem;
    }

    & h3 {
        font-size: 1rem;
        margin: 1.5rem 0 0.5rem;
    }

    & .settings-form {
        & .option {
            display: flex;
            align-items: center;
            padding: 0.35rem 0;
            border-bottom: 1px solid #f2f2f2;

            &:first-child {
                padding-top: 0;
            }

            &.no-border,
            &:last-child {
                border: 0;
            }

            & label {
                font-size: 0.825rem;
                font-weight: 500;
                color: #273144;
            }

            & select {
                border-radius: 6px;
                margin-left: auto;
                background: rgba(119, 148, 182, 0.105);
            }

            & input[type="color"] {
                margin-left: auto;
                width: 2rem;
                height: 2rem;
                padding: 0;
                border: 1px solid #e8e8e8;
                border-radius: 100%;
                cursor: pointer;
                margin-left: auto;

                &::-webkit-color-swatch-wrapper {
                    padding: 0;
                }

                &::-webkit-color-swatch {
                    border: none;
                }

                &:focus {
                    outline: 1px solid #e8e8e8;
                }
            }

            & button {
                margin-top: 0.5rem;
            }
        }
    }
}

/* Help */
#help {
    & h1 {
        margin-bottom: 0.5rem;
    }

    & .help-section {
        padding: 1rem;

        & .help-form {
            display: block;
            margin-top: 1.5rem;
            padding-bottom: 0.25rem;

            & .input {
                margin-bottom: 1rem;

                & label {
                    display: block;
                    font-weight: 500;
                    font-size: 0.825rem;
                    margin-bottom: 0.5rem;
                }

                & input[readonly] {
                    padding: 0 0 0.75rem;
                    background: transparent;
                    color: #404040;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    & .help-success {
        display: none;
        padding: 1rem;

        & .help-success-header {
            display: flex;
            align-items: center;
            margin: 0.5rem 0 1.25rem;

            & img {
                max-height: 48px;
            }
        }

        & p {
            margin-bottom: 1rem;
        }
    }
}

/* Upgrade */
#upgrade {
    .plans {
        background-image: linear-gradient(180deg, rgba(119, 148, 182, 0.105) 43%, rgba(255, 255, 255, 0) 100%);

        & .plan {
            padding: 1rem;

            & .plan-wrapper {
                display: flex;
                align-items: center;

                & .plan-header {
                    & .plan-title {
                        font-size: 1.25rem;
                        margin: 0.35rem 0;
                        font-weight: 600;
                        color: #303030;
                    }

                    & .plan-price {
                        position: relative;
                        font-size: 1.5rem;
                        margin: 0.35rem 0;
                        font-family: serif;
                    }
                }

                & .link {
                    padding: 1rem;
                }
            }

            & .plan-features {
                & .plan-pointers {
                    margin: 1rem 0;
                    padding: 0;
                    list-style-type: none;

                    & li {
                        padding: 0.25rem 0;
                        font-size: 0.875rem;
                        line-height: 1.625;
                        margin-left: 1.25rem;
                        position: relative;

                        &:last-child {
                            border: 0;
                        }

                        &::before {
                            content: '\2192';
                            margin-right: 0.5rem;
                            position: absolute;
                            left: -1.25rem;
                        }
                    }
                }
            }

            & .upgrade-now {
                margin-left: auto;
            }

            & .plan-yearly {
                position: relative;
                display: none;
                align-items: center;
            }
        }
    }
}

/* Subscription (Verify */
#subscription-verify {
    & img {
        margin: 0 auto;
    }

    & .wrapper {
        max-width: 480px;
        margin: 0 auto;
    }
}

/* Subscription (Success) */
#subscription-success {
    & img {
        margin: 0 auto;
    }

    & .subscription-details {
        margin-top: 1.25rem;
        border: 1px solid rgba(0, 0, 0, 0.04);
        box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.04);
        border-radius: 8px;

        & p {
            display: flex;
            margin: 0;
            padding: 0.75rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.04);
            font-size: 0.825rem;

            &:last-child {
                border-bottom: 0;
            }

            & label {
                font-weight: 600;
                min-width: 90px;
            }

            & span {
                &::first-letter {
                    text-transform: capitalize;
                }
            }
        }
    }

    & .wrapper {
        max-width: 480px;
        margin: 0 auto;
    }
}

/* Subscription (Exists) */
#subscription-exists {
    & img {
        max-width: 280px;
        margin: 0 auto;
    }

    & h2 {
        margin-top: 1.5rem;
    }

    & .help-links {
        margin: 0.5rem 0 0;
        padding: 0;

        & li {
            position: relative;
            list-style-type: none;
            font-size: 0.875rem;
            margin-left: 1.25rem;
            padding: 0.20rem 0;

            & a {
                text-decoration: underline;
            }

            &::before {
                content: '\2192';
                margin-right: 0.5rem;
                position: absolute;
                left: -1.25rem;
            }
        }
    }

    & .wrapper {
        max-width: 480px;
        margin: 0 auto;
    }
}

/* Unlogged */
#unlogged {
    background-image: linear-gradient(45deg, #7794b6 0%, #dffaff 100%);
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & .logo {
        & img {
            max-width: 96px;
            height: auto;
        }
    }

    & .tagline {
        position: relative;
        font-size: 1rem;
        color: #ffffff;
        padding-top: 0.75rem;

        &:before {
            position: absolute;
            content: ' ';
            left: 0;
            bottom: -3px;
            width: 100%;
            height: 9px;
            background-color: rgba(119, 148, 182, 0.25);
            transform: skew(-0.5deg, -0.5deg);
        }
    }

    & .social-buttons {
        margin-top: 1.25rem;

        &>a {
            display: flex;
            align-items: center;
            padding: 0.75rem 1rem;
            font-size: 0.875rem;
            border-radius: 8px;
            font-weight: 500;
            text-decoration: none;
            color: #101010;

            &:hover {
                opacity: 0.85;
                color: #101010;
            }

            &:visited {
                color: #101010;
            }

            & svg {
                max-width: 24px;
                height: auto;
                margin-right: 0.75rem;
            }
        }

        & .google-oauth {
            background-color: #ffffff;
        }
    }
}

/* Buttons */
.button {
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    background: #e74c3c;
    color: #ffffff;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    transition: box-shadow 200ms ease;

    &:hover {
        box-shadow: 5px 5px 0 0 rgba(231, 76, 60, 0.125);
    }

    &.medium {
        padding: 0.75rem;
    }

    &.small {
        padding: 0.5rem;
    }

    &.border {
        background: transparent;
        border: 1px solid #e74c3c;
        color: #e74c3c;
    }

    &.pink {
        background: #f46d9a;

        &.border {
            background: transparent;
            border: 1px solid #f46d9a;
            color: #f46d9a;
        }

        &:hover {
            box-shadow: 5px 5px 0 0 rgba(244, 109, 154, 0.125);
        }
    }

    &.yellow {
        background: #ffc927;

        &.border {
            background: transparent;
            border: 1px solid #ffc927;
            color: #ffc927;
        }

        &:hover {
            box-shadow: 5px 5px 0 0 rgba(255, 201, 39, 0.125);
        }
    }

    &.blue {
        background: #63c1f7;

        &.border {
            background: transparent;
            border: 1px solid #63c1f7;
            color: #63c1f7;
        }

        &:hover {
            box-shadow: 5px 5px 0 0 rgba(56, 182, 255, 0.125);
        }
    }

    &.silver {
        background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
        color: #404040;

        &.border {
            background-image: none;
            background: transparent;
            border: 1px solid #e2ebf0;
        }

        &:hover {
            box-shadow: 5px 5px 0 0 rgba(226, 235, 240, 0.5);
        }
    }

    &.green {
        background: #2ecc71;

        &.border {
            background: transparent;
            border: 1px solid #2ecc71;
            color: #2ecc71;
        }

        &:hover {
            box-shadow: 5px 5px 0 0 rgba(46, 204, 113, 0.125);
        }
    }

    &.link {
        background: transparent;
        color: #101010;
        padding-bottom: 0;

        &:hover {
            box-shadow: none;
        }
    }

    &.block {
        width: 100%;
    }
}

/* Modal */
.modal {
    backdrop-filter: blur(8px);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;

    & .modal-container {
        position: relative;
        width: calc(100% - 2rem);
        max-height: calc(100% - 4rem);
        margin: 1rem;
        min-height: 20%;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;

        & .modal-close {
            position: absolute;
            right: 0.375rem;
            top: 0;

            & img {
                max-width: 16px;
            }
        }

        & .modal-content {
            position: relative;
            margin: 1.5rem 0.25rem;
            height: calc(100% - 3rem);
            width: calc(100% - 0.5rem);
            background-color: #ffffff;
            border-radius: 8px;
            border: 1px solid #d0d0d0;
            box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.02);

            /* Modal content specific styling */
            & .modal-qrcode {
                margin: 0.125rem;

                & img {
                    max-width: 100%;
                }

                & .download {
                    padding: 0 0.5rem 1rem;
                    text-align: center;

                    & a {
                        display: inline-block;
                        padding: 0.25rem 0.5rem;
                        background: #f0f0f0;
                        border-radius: 4px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

/* Tooltip */
[tooltip] .tooltip {
    position: fixed;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.625;
    padding: 0.250rem 0.5rem;
    background-image: linear-gradient(to top, #4bce82 0%, #2ecc71 100%);
    color: #ffffff;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0s;
    min-width: 90px;
}

[tooltip]:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Switches */
.switcher {
    margin-left: 0.5rem;

    & .stats-switcher {
        display: flex;
        align-items: center;

        & img {
            max-width: 18px;
        }

        & a {
            padding: 0.25rem;
            font-weight: 600;
            margin-left: 0.125rem;
            text-transform: capitalize;

            &:hover {
                background: #ffffff;
                border-radius: 8px;
            }
        }
    }
}

/* Switches */
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 20px;

    & input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.04);
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 2.125px;
        bottom: 2.125px;
        background-color: #ffffff;
        -webkit-transition: .4s;
        transition: .4s;
    }

    &.round {
        border-radius: 34px;

        &:before {
            border-radius: 50%;
        }
    }
}

input:checked+.toggle {
    background-color: #20bf6b;
}

input:checked+.toggle:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

/* Processing */
.processing {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    border-radius: 12px;
    backdrop-filter: blur(8px);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & .processing-content {
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.25);
        border-radius: 8px;
        text-align: center;

        & img {
            height: 36px;
            width: auto;
            margin: 0 auto;
        }
    }
}

/* Notifications (toast) */
.toast {
    position: fixed;
    background: #ffffff;
    padding: 0.75rem;
    font-size: 0.825rem;
    font-weight: 500;
    border: 1px solid #f2f2f2;
    width: 300px;
    right: 1.125rem;
    bottom: 1.125rem;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

    &:first-child {
        z-index: 2;
    }

    &:nth-child(2) {
        z-index: 1;
    }

    &:nth-child(3) {
        z-index: 0;
    }

    &.success {
        background-color: hsl(143, 85%, 96%);
        border-color: hsl(145, 92%, 87%);
        color: hsl(140, 100%, 27%);
    }

    &.error {
        background-color: hsl(359, 100%, 97%);
        border-color: hsl(359, 100%, 94%);
        color: hsl(360, 100%, 45%);
    }

    &.info {
        background-color: hsl(208, 100%, 97%);
        border-color: hsl(221, 91%, 93%);
        color: hsl(210, 92%, 45%);
    }

    &.warning {
        background-color: hsl(49, 100%, 97%);
        border-color: hsl(49, 91%, 84%);
        color: hsl(31, 92%, 45%);
    }

    @media (max-width: 400px) {
        width: 88%;
        right: 6%;
    }
}